__pycache__/
*.py[cod]
*.so
*.egg-info/
.dist_test/
.ipynb_checkpoints/

/work_dir*/
profiler_traces/
debug_points/
tracking_log*.txt
train.log
ped_log.txt
car.txt
ccar_og.txt

*.pth
*.pt
*.ckpt
*.tar.gz
*.zip
/data/
/datasets/nuscenes/
/datasets/kitti/
/datasets/waymo/
pretrained/**/*.pth
